* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 2.8rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 28% 44% 28%;
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-areas:
    "article-start article-start article-start"
    "side-left article-area side-right"
    "theory-inflation theory-inflation theory-inflation"
    "side-left2 article-area2 side-right2"
    "more-section more-section more-section"
    "lower-nav lower-nav lower-nav"
    "footer footer footer";
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #e2e2e2;
  background: white;
  z-index: 10;
}

.style-button {
  background: #567b95;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem;
  border: 0;
  cursor: pointer;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.custom-font-size {
  font-size: 1.1875rem;
}

.small-font {
  font-size: 13px;
}

.main-nav {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1.25rem;
}

.menu-search-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}

.main-title {
  font-weight: bold;
}

.menu-search-title a,
.main-title a,
.center-p a,
.edspick a,
.more a,
.lower-nav-header a,
.lower-nav-links a,
.footer-links a,
.footer-expand-container a {
  text-decoration: none;
  color: inherit;
}

.logo img,
.lower-nav-header img {
  max-width: 225px;
  max-height: 31px;
}

.article-head {
  grid-area: article-start;
  width: 70%;
  margin: auto;
}

.article-head figure,
.main-content2 figure {
  width: 100%;
  margin: auto;
  color: gray;
}

.article-title {
  width: 60%;
  margin: auto;
}

.article-head > .article-title > h1 {
  font-size: 35px;
  font-style: italic;
  text-align: left;
}

.article-head .rick {
  color: gray;
}

.telescope img {
  width: 100%;
}

.edspick {
  grid-area: side-right;
  width: 65%;
  margin: auto;
  font-size: 14px;
}

.edspick hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.edspick img {
  max-width: 75px;
  max-height: 75px;
  margin: 10px 10px 10px 0;
}

.edpic1,
.edpic2,
.edpic3 {
  display: flex;
  align-items: center;
}

.main-content {
  grid-area: article-area;
}

.main-content .author {
  font-weight: bold;
}

.main-content .author a {
  text-decoration: none;
  border-bottom: 1.5px solid #e2e2e2;
  color: inherit;
}

.main-content .author a:hover {
  border: 0;
}

.main-content .author-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments ul,
.main-content .author-date ul {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.main-content hr {
  width: 20%;
  height: 1px;
  background-color: #e2e2e2;
  border: none;
  margin: 20px auto;
}

.main-content .center-p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.inline-links,
.center-p a {
  color: #3280bf;
}

.inline-links:hover {
  text-decoration: none;
}

.theory-inflation-section {
  grid-area: theory-inflation;
  width: 70%;
  margin: auto;
}

.theory-inflation-section div > p > span {
  font-weight: bold;
}

.fig-container {
  width: 100%;
  position: relative;
  font-size: 13px;
}

.fig-container figure {
  width: 100%;
  margin: auto;
}

.fig-container figure > img {
  width: 100%;
}

.hr-author hr {
  height: 1px;
  background-color: black;
  width: 15%;
  margin: 0 85% 0 0;
  border: none;
}

.inf1 {
  position: absolute;
  width: 24%;
  left: 0;
  top: 8rem;
}

.inf2 {
  position: absolute;
  width: 24%;
  left: 25%;
  top: 8rem;
}

.inf3 {
  position: absolute;
  width: 24%;
  right: 25%;
  top: 8rem;
}

.inf4 {
  position: absolute;
  width: 24%;
  right: 0;
  top: 8rem;
}

.inf5 {
  position: absolute;
  width: 24%;
  left: 0;
  bottom: 2rem;
}

.inf6 {
  position: absolute;
  width: 24%;
  left: 25%;
  bottom: 1rem;
}

.inf7 {
  position: absolute;
  width: 24%;
  right: 25%;
  bottom: 1rem;
}

.inf8 {
  position: absolute;
  width: 24%;
  right: 0;
  bottom: 1rem;
}

.main-content2 {
  grid-area: article-area2;
}

.main-content2 figure > iframe {
  width: 100%;
  height: 319px;
  border: 0;
}

.main-content2 .cosmos-jumbo figure > img {
  width: 100%;
}

.end-of-article {
  font-size: 14px;
  color: gray;
  text-align: left;
}

.end-of-article a {
  color: gray;
}

.end-of-article a:hover {
  text-decoration: none;
}

.comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 20px;
}

.comments button {
  width: 55%;
}

.comments ul {
  width: 25%;
}

.main-content p,
.main-content2 p {
  font-size: 20px;
  text-align: left;
}

.more {
  grid-area: more-section;
  width: 90%;
  margin: auto;
}

.more_in_space {
  float: left;
  width: 70%;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(9, auto);
  grid-gap: 0 5px;
  grid-template-areas:
    "sec-title sec-title sec-title"
    "pic1 pic2 pic3"
    "pic1-author pic2-author pic3-author"
    "pic1-details pic2-details pic3-details"
    "pic1-date pic2-date pic3-date"
    "pic4 pic5 pic6"
    "pic4-author pic5-author pic6-author"
    "pic4-details pic5-details pic6-details"
    "pic4-date pic5-date pic6-date";
}

.more_in_space img,
.editors-picks-main img {
  max-width: 273px;
  max-height: 182px;
  margin-top: 20px;
}

.more_in_space p,
.editors-picks-main p {
  margin: 0;
  padding: 0;
}

.more-p-font {
  font-size: 18px;
}

.more-title {
  grid-area: sec-title;
}

.author1,
.author2,
.author3,
.author4,
.author5,
.author6,
.author7,
.author8,
.author9 {
  color: gray;
  font-size: 13px;
  text-align: right;
}

.date1,
.date2,
.date3,
.date4,
.date5,
.date6,
.date7,
.date8,
.date9 {
  color: gray;
  font-size: 13px;
  text-align: left;
}

.img-1 {
  grid-area: pic1;
}

.author1 {
  grid-area: pic1-author;
}

.details1 {
  grid-area: pic1-details;
}

.date1 {
  grid-area: pic1-date;
}

.img-2 {
  grid-area: pic2;
}

.author2 {
  grid-area: pic2-author;
}

.details2 {
  grid-area: pic2-details;
}

.date2 {
  grid-area: pic2-date;
}

.img-3 {
  grid-area: pic3;
}

.author3,
.details3,
.date3 {
  grid-area: pic3-author;
}

.details3 {
  grid-area: pic3-details;
}

.date3 {
  grid-area: pic3-date;
}

.img-4 {
  grid-area: pic4;
}

.author4 {
  grid-area: pic4-author;
}

.details4 {
  grid-area: pic4-details;
}

.date4 {
  grid-area: pic4-date;
}

.img-5 {
  grid-area: pic5;
}

.author5 {
  grid-area: pic5-author;
}

.details5 {
  grid-area: pic5-details;
}

.date5 {
  grid-area: pic5-date;
}

.img-6 {
  grid-area: pic6;
}

.author6 {
  grid-area: pic6-author;
}

.details6 {
  grid-area: pic6-details;
}

.date6 {
  grid-area: pic6-date;
}

.editors-picks-main {
  float: left;
  width: 70%;
  border-top: 1px solid black;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px 5px;
  grid-template-areas:
    "editors-pick-title editors-pick-title editors-pick-title"
    "pic7 pic8 pic9"
    "pic7-author pic8-author pic9-author"
    "pic7-details pic8-details pic9-details"
    "pic7-date pic8-date pic9-date";
}

.editors-picks_main_title {
  grid-area: editors-pick-title;
}

.img-7 {
  grid-area: pic7;
}

.author7 {
  grid-area: pic7-author;
}

.details7 {
  grid-area: pic7-details;
}

.date7 {
  grid-area: pic7-date;
}

.img-8 {
  grid-area: pic8;
}

.author8 {
  grid-area: pic8-author;
}

.details8 {
  grid-area: pic8-details;
}

.date8 {
  grid-area: pic8-date;
}

.img-9 {
  grid-area: pic9;
}

.author9 {
  grid-area: pic9-author;
}

.details9 {
  grid-area: pic9-details;
}

.date9 {
  grid-area: pic9-date;
}

.most_popular {
  float: right;
  width: 28%;
  border-top: 1px solid black;
}

.most_popular p {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
}

.most_popular a:hover {
  font-weight: 100;
}

.more:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.lower-navigation-section {
  border-top: 2px solid #e2e2e2;
  width: 90%;
  margin: 20px auto auto auto;
  grid-area: lower-nav;
}

.lower-navigation {
  border-top: 1px solid #e2e2e2;
  margin-top: 1px;
  width: 100%;
  padding-top: 10px;
}

.lower-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #567b95;
}

.lower-nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lower-nav-links ul,
.footer-area ul,
.author-date ul,
.comments ul {
  list-style: none;
  padding: 0;
}

.lower-nav-links .link-titles {
  font-weight: bold;
}

.lower-nav-links > ul > li {
  line-height: 1.5rem;
}

.lower-nav-links .list-title-subscribe {
  border-left: 1px solid #e2e2e2;
  padding-left: 1.25rem;
}

.lower-nav-links > ul > .list-title-educ {
  list-style-position:inside;
  border-bottom: 1px solid #e2e2e2;
}

.footer-area {
  border-top: 1px solid #e2e2e2;
  color: gray;
  grid-area: footer;
  width: 90%;
  margin: auto;
  font-size: 0.8125rem;
  padding: 10px 0 25px 0;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: inherit;
}

.footer-links li {
  margin: auto;
}

.footer-expand {
  grid-area: footer-expand;
  position: fixed;
  height: 4rem;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-expand-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.main-title a:hover,
.edspick a:hover,
.more-title a:hover,
.lower-nav-links a:hover,
.footer-links a:hover {
  border-bottom: 1px solid currentColor;
}