* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 2.8rem;
  border: 3px solid grey;
  display: grid
}

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #e2e2e2;
  background: white;
  z-index: 10;
}

.style-button {
  background: #567b95;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem;
  border: 0;
  cursor: pointer;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.custom-font-size {
  font-size: 1.1875rem;
}

.main-nav {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1.25rem;
}

.menu-search-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}

.main-title {
  font-weight: bold;
}

.main-title a, .lower-nav-header a, .lower-nav-links a, .footer-links a {
  text-decoration: none;
  color: inherit;
}

.main-title a:hover, .footer-links a:hover, .lower-nav-links a:hover {
  border-bottom: 1px solid currentColor;
}

.logo img, .lower-nav-header img{
  max-width: 225px;
  max-height: 31px;
}

.main-content {
  margin-bottom: 100px;
}







.lower-navigation-section {
  border-top: 2px solid #e2e2e2;
  width: 90%;
  margin: auto;
}

.lower-navigation {
  border-top: 1px solid #e2e2e2;
  margin-top: 1px;
  width: 100%;
}

.lower-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #567b95;
  /* padding: 10px 0 10px 35px; */
}

.lower-nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lower-nav-links .link-titles {
  font-weight: bold;
}

.lower-nav-links > ul >li {
  line-height: 25px;
}

.lower-nav-links .list-title-subscribe{
  border-left: 1px solid #e2e2e2;
  margin-left: 40px;
  padding-left: 20px;
}

.lower-nav-links > ul > .list-title-educ {
  list-style-position:inside;
  border-bottom: 1px solid #e2e2e2;
  padding-right: 150px;
}

.footer-area {
  border-top: 1px solid #e2e2e2;
  color: gray;
}

.footer-area ul, .lower-nav-links ul {
  list-style: none;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links li {
  margin-left: 8px;
  margin-right: 8px;
}
